@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

a:focus {
	outline: 1px solid blue;
}

.flex {
	display: block;
	width: 100%;
}

.logo {
	width: 100%;
	position: relative;
	padding-top: 5%;
	padding-left:1em;
	max-width: 170px;
}

.masthead {
	background-color:#669999;
}

.masthead a {
	text-decoration: none;
	color: black;
}

.masthead li {
	list-style-type: none;
}

.nav-top {
	background-color:#669999;
	display: none;
}

.nav-top[data-state="expanded"] {
	display: block;
}

.footer a { 
	background-color: #669999;
	text-decoration: none;
	color: black;
}

.footer {
	background-color: #669999;
	width: 100%;
	overflow: hidden;
}

.nav-btn {
	bottom:0;
	height:48px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 8px;

	width:45px;

	background: transparent url("../images/toggle-fill.svg") no-repeat 0 0;

	text-indent:100%;
	white-space: no-wrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	border:solid white;
}

.nav-top li:hover,
.nav-top li:focus,
.nav-top li:active {
	background-color: #00CC66;
	border: white;
	border-radius: 25px
}

.banner {
	padding-top: 60%; 
	position: relative;
	background: #FF0000 url("../images/banner-headphones.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	overflow: hidden;
}

.banner-pricing{
	padding-top: 20%; 
	position: relative;
	background: #FF0000 url("../images/woman-headphones-back.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	overflow: hidden;
}
.banner-pricing ul {
	position:relative;
	right:1em;
} 

.banner-text {
	position:absolute;
	width:100%;
	top:40%;
	transform:translateY(-55%);
}

.banner a {
	background-color: rgba(255, 255, 255, .60);
	padding:.5em;
	padding-left: 1em;
	padding-right: 1em;
	border:2px;
	border-radius: 25px;
	border-style: solid;
	border-color: white;
	text-decoration: none;
	color: black;
	position: relative;
	top:.5em;
}

.banner-middle {
	padding-top: 70%; 
	position: relative;
	background: #FF0000 url("../images/headphones-painter.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	overflow: hidden;
}

.nav-footer li {
	list-style-type: none;
	padding-bottom: .5em;
}

.nav-footer {
	padding-top: 1em;
}


.footer li {
	color: black;
}


.banner-mid{
	width: 100%;
}

.background-1 {
	background-image: url(../images/navigation-pattern.svg);
	background-size: 7em;

}

.small-padding {
	padding-top:3em;
}

.small-padding-bottom {
	padding-bottom:3em;
}

.image-hook {
	position: relative;
}

.center-heading {
	position: absolute;
	top:70%;
	left:10%;
	line-height: 2rem;
	padding-right: 1em;
	display: none;
}

.small-none {
	display: none;
}

.images-flow {
	
	overflow: hidden;	
}

.image-flow-text {
	
	top: 1em;
	padding: .5em;
}


.center-text {
	text-align: right;
	padding-right: 10%;
	line-height: 1.5em;
}

footer ul {
	margin: 0;
	padding-left:.5em;
}

.skip-links {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1em; 
}

.skip-links a:focus {
    top: 0;
}


.copyright a {
	color: blue;
	padding-left: 1em;
}

.hidden-text {
	display: none;
}

.heading-text {
	color: white;
}

.banner p{
	color: white;
}

.social-media-links img{
 float: right;
 display: inline-block;
 max-width: 40px;
 padding-right: 2%;
}

.max-width {
	width: 100%;
	border:solid black 1px;
	height: 3em;

}

.sign-up-form {
	max-width: 20em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3em;
}

.banner-signup{
	padding-top: 7%; 
	position: relative;
	background: #DDDDDD;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.banner-signup-text{
	text-align: center;

}

.background-pricing-header {
	background: white;


}

.pricing-info-padding {
	margin-bottom: 6em;

}
.white-background {
	background-color: rgba(255, 255, 255, .50);
	padding-bottom: 1em;

}

.price-list li {
	font-size: .8889rem;
	text-align: center;
	list-style-type: none;
	line-height: 2.5rem;


}

.submit-button {
	border: solid 3px;
}
.white-form-text {
	color: white;
}



@media only screen and (min-width: 25em) {

	.large-padding {
		padding-top:10em;
	}

	.large-padding-bottom {
		padding-bottom:10em;
	}

	.small-none {
		display:block;
	}

	.footer li {
		color: black;
		padding-right: 1em;
	}

	.hidden-text {
		display: block;
}
	.social-media-links img{

	 max-width: 60px;
	 padding-right: 5%;
}

	.center-heading {
	position: absolute;
	top:70%;
	left:10%;
	line-height: 2rem;
	padding-right: 1em;
	display: block;
}
.price-list li {
	font-size: 100%;
}
}

@media only screen and (min-width: 38em) {

	.banner-signup{
	padding-top: 7%; 
	position: relative;
	background: #999999 url("../images/woman-headphones.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;

}
	
	.nav-btn {
	display: none;

	}

	.nav-top {
		display: inline-block;	
		background-color:#669999;
	}

	.nav-top li {
		float: left;
		padding-left:1em; 
		padding-right:1em;
	}

	.footer li {
		float: left;
	}

	.footer {
		
	}

	.footer nav {
		padding-top: 1.5em;
	}

	.copyright {
		position: relative;
}
	.social-media-links img{

	 max-width: 90px;
	 padding-right: 5%
	}


}

@media only screen and (min-width: 60em) {
	.footer nav {
		padding-left: 5em;
		padding-top: 1.5em;
	}
		.banner {
		padding-top: 40%; 
	}
	.banner-middle {
	padding-top: 55%; 
	}	
}
